{% extends 'base.html.twig' %}

{% block title %}Students by Institution & Department{% endblock %}

{% block body %}
    <h1>Students by Institution & Department</h1>
    <ul>
        {% for institution in institutions %}
            <li>
                <a href="{{ path('institution_view', {id: institution.id}) }}">
                    {{ institution.name }}
                </a>
                <ul>
                    {% for department in institution.departments %}
                        <li>
                            <a href="{{ path('department_view', {id: department.id}) }}">
                                {{ department.name }}
                            </a>
                            <ul>
                                {% for student in department.students %}
                                    <li>
                                        <a href="{{ path('student_view', {id: student.id}) }}">
                                            {{ student.fullName }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('student_list') }}">Back to list</a>
{% endblock %}
