{% extends 'base.html.twig' %}

{% block title %}Instructors by Institution & Department{% endblock %}

{% block body %}
    <h1>Instructors by Institution & Department</h1>
    <ul>
        {% for institution in institutions %}
            <li>
                <a href="{{ path('institution_view', {id: institution.id}) }}">
                    {{ institution.name }}
                </a>
                <ul>
                    {% for department in institution.departments %}
                        <li>
                            <a href="{{ path('department_view', {id: department.id}) }}">
                                {{ department.name }}
                            </a>
                            <ul>
                                {% for instructor in department.instructors %}
                                    <li>
                                        <a href="{{ path('instructor_view', {id: instructor.id}) }}">
                                            {{ instructor.fullName }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('instructor_list') }}">Back to list</a>
{% endblock %}
